
.input-field{
  @include InputField;
}
.input-themename{
  width: 50%;
  max-width: 400px;
  font-size: 0.7em;
  padding: 10px 10px 0px 10px;
}
.input-wide{
  width: 200px;
}
.input-normal{
  width: 150px;
}
.input-unit{
  width: 30px;
}
.input-preview-text{
  width: 335px;
}

input[type="color"]{    
  @include Pointer;  
  width: 30px;
  border: none;
  background-color: white;
  padding: 0px;
  margin-left: -2px;
}