:root{
  --TextDark: rgb(58, 58, 58);
  --black: #000;
  --LightGrey: rgb(226, 226, 226);
  --LightestGrey: rgb(249, 249, 249);
  --Grey: grey;
  --BackgroundGrey: #EDEDED;

  --Peach: #FC847F;
  --PeachHover: #f0615c;
}